@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

body{

    padding: 32px;
}
div{
    padding: 10px;
}

button{
    color: azure;
    border: none;
    padding: 6px 12px;
    background-color: cadetblue;
    border-radius: 12px;
    transition: .4s;
}



label{

    font-size: 16px;
}

input{

    background-color:darkgrey;
    border:none;
    padding: 6px 12px;
    border-radius: 12px;
    
}

textarea{

    background-color: darkgrey;
    border-radius: 12px;
    padding: 6px 12px;
    
}

/* pseudo-classes/pseudo-elementos */
textarea:focus{

    background-color: #fff7f7;
}
input:focus{
    
    background-color:#fff9f9 ;
}
button:hover {
    background-color: crimson;
}
input:checked{
   
    background-color: darkgrey;
}