* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{

   display: grid;
   grid-template-columns: 70% 300px;
   grid-template-areas: 
   'cabecalho cabecalho'
   'principal lateral'
      
}

header{

    width: 100%;
    background-color: #fafafa;
    grid-area: cabecalho;
    height: 70px;
    position: fixed;

}


main{

    background-color: #f8dbc6;
    grid-area: principal;

}

aside{

    background-color: #fdfdfdfd;
    grid-area: lateral;
    margin-top: 70px;
    

}


section{

    display:flex;
    gap: 5px;
    width: 100%;
    padding: 5px;
}

.videoPrincipal{

    width: 100%;
}